/packages/

/web/font-awesome/css/packages

/web/font-awesome/fonts/packages

/web/font-awesome/less/packages

/web/font-awesome/packages

/web/font-awesome/scss/packages

/web/gallery/packages

/web/images/packages

/web/infos/packages

/web/packages

/web/menus/packages

/web/addresses/packages

/.buildlog
